<h1>Добавяне на доставка</h1>

<form method="post">

    Име:
    <div class="warning paragraph">
        ${name_msg=}
    </div>
    <input name="name" required
           minlength=3 maxlength=80 />

    Мерна единица:
    <div class="warning paragraph">
        ${unit_type_msg=}
    </div>
    <input name="unit_type" required maxlength=30 />
           
    Количество:
    <div class="warning paragraph">
        ${quantity_msg=}
    </div>
    <input name="quantity" type="number" required
           value=1 min=1 />

    Цена на бройка/мерна единица:
    <div class="warning paragraph">
        ${unit_price_msg=}
    </div>
    <label class="price_input">
        <input name="unit_price" type="number" required
               value=1 min=0.001 step=0.001 />
        <div class="currency">
            лв
        </div>
    </label>

    <br />

    Доставчик:
    <div class="warning paragraph">
        ${deliver_msg=}
    </div>
    <input name="deliver" required minlength=5 />

    Дата на доставка:
    <div class="warning paragraph">
        ${date_msg=}
    </div>
    <input name="date" type="date" required
           max="3000-01-01" data-value="now"
           onfocus="this.max=new Date().toISOString().split('T')[0]" />
    <script src="${path:js/misc/set_current_date.js}"> </script>

    <div class="warning paragraph"> ${error_msg=} </div>
    <div class="success paragraph"> ${success_msg=} </div>
    <input type="submit" value="Добави" class="btn" />
</form>
