<h-flex style="float: right;">
    <flex-fill> </flex-fill>
    <div>
        <input type="search" id="search_bar" />
    </div>
    <div class="btn icon search"></div>
</h-flex>

<h1> Всички доставки </h1>

<div class="warning paragraph"> ${error_msg=} </div>
<div class="success paragraph"> ${success_msg=} </div>

<h-flex class="row">
    <flex-fill class="name border"> Име </flex-fill>
    <div class="count border"> Количество </div>
    <div class="price border"> Цена/бр </div>
    <a class="edit opaque btn"></a>
    <a class="delete opaque btn"></a>
</h-flex>

<div id="content">
    <div class="pair">
        <h-flex class="row">
            <flex-fill class="name border"> Name </flex-fill>
            <div class="count border">
                0 чаши с прясно приготвен портокалов сок
            </div>
            <div class="price border"> 0.00лв </div>
            <a href="/edit?id=4" data-href="/edit"
               class="edit btn"></a>
            <a href="/delete?id=4" data-href="/delete"
               class="delete btn"></a>
        </h-flex>
        <h-flex class="data">
            <div class="shipped icon border "> </div>
            <flex-fill class="border deliver">
                Доставено от Annya Express
            </flex-fill>
            <div class="border date">
                днес
            </div>
        </h-flex>
    </div>
</div>

<script src="${path:js/list.js}" type="module"></script>
