:root
{

}

body, html
{
    padding: 0px;
    margin: 0px;
    font-size: 16pt;
}

header#page_top
{
    position: sticky;
    top: 0px;
    color: black;
    background: #ffd;
    border-bottom: 2px solid #bbb;
    padding: 0px 10%;
}

h-flex
{
    display: flex;
}

.border
{
    border: 2px solid #bbb;
    border-radius: 8px;
    display: inline-block;
    padding: 8px;
    margin: 8px;
}

.btn
{
    border: 2px solid #bbb;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
    background: white;
    text-decoration: none;
    color: black;
    cursor: pointer;
    user-select: none;
}

.btn:hover
{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.btn:active
{
    transform: scale(0.95);
}

flex-fill
{
    display: block;
    flex: auto;
}

main
{
    margin: 8px 10%;
}


h1
{
    font-size: 32pt;
}

legend
{
    font-size: 24pt;
    font-weight: bold;
    margin: 8px;
}

fieldset
{
    margin-bottom: 32px;
}

p, .paragraph
{
    text-indent: 2em;
}

fieldset > p:first-of-type
{
    margin-top: 0px;
}

input
{
    border: 2px solid #999;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
    background: white;
    color: black;
    font-size: 16pt;
    display: block;
    margin-bottom: 16px;
} 

input[disabled]
{
    background: #f2f2f2;
}

.float-right
{
    float: right;
}

.warning
{
    color: #a00;
    font-weight: bold;
}

.success
{

    color: #0a0;
    font-weight: bold;
}

.info
{
    color: #0aa;
    font-weight: bold;
}

.price_input
{
    position: relative;
    display: inline-block;
}

.currency
{
    position: absolute;
    right: 40px;
    top: 31px;
    transform: translate(0%, -50%);
}

.row
{
    cursor: pointer;
}

.count
{
    text-align: right;
    max-width: 110px;
    min-width: 110px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.price
{
    text-align: right;
    max-width: 80px;
    min-width: 80px;
}

.icon, .row > .btn
{
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 40px;
    background-size: 24px 24px;
    background-position: center;
    background-repeat: no-repeat;
}

.icon.demo
{
    display: inline-block;
    border: 2px solid #999;
    width: 24px;
    height: 24px;
    background-size: 16px 16px;
}

.edit
{
    background-image: url("/Resources/img/draw.png");
}

.delete
{
    background-image: url("/Resources/img/x.png");
}

.search
{
    background-image:
        url("/Resources/img/magnifier.png");
}

.shipped
{
    background-image:
        url("/Resources/img/shipped.png");
    cursor: default;
    border-radius: 8px;
    background-size: 32px 32px;
}

.opaque
{
    opacity: 0;
    user-select: none;
    cursor: default;
}

.pair > .data
{
    display: none;
    margin-left: 16px;
    margin-right: 136px;
    transform: translate(0px, -8px);
}

.pair.focus > h-flex.data
{
    display: flex;
}

.row.title > *
{
    background: #f2f2f2;
}

@media (max-width: 750px)
{
    header#page_top
    {
        padding: 0px 0px;
    }

    main
    {
        margin: 8px 8px;
    }
    @media (max-width: 600px)
    {
        header#page_top
        {
            flex-direction: column;
        }
    }
}
