:root
{

}

body, html
{
    padding: 0px;
    margin: 0px;
    font-size: 16pt;
}

header#page_top
{
    position: sticky;
    top: 0px;
    color: black;
    background: #ffd;
    border-bottom: 2px solid #bbb;
    padding: 0px 10%;
}

h-flex
{
    display: flex;
}

.border
{
    border: 2px solid #bbb;
    border-radius: 8px;
    display: inline-block;
    padding: 8px;
}

.btn
{
    border: 2px solid #bbb;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
    background: white;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.btn:hover
{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.btn:active
{
    transform: scale(0.95);
}

flex-fill
{
    display: block;
    flex: auto;
}

main
{
    margin: 8px 10%;
}


h1
{
    font-size: 32pt;
}

legend
{
    font-size: 24pt;
    font-weight: bold;
    margin: 8px;
}

fieldset
{
    margin-bottom: 32px;
}

p, .paragraph
{
    text-indent: 2em;
}

input
{
    border: 2px solid #999;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
    background: white;
    color: black;
    font-size: 16pt;
    display: block;
    margin-bottom: 16px;
}

.float-right
{
    float: right;
}

.warning
{
    color: red;
    font-weight: bold;
}
