<h1>
    Регистрация
</h1>

<form method="post">
    Потребителско име:
    <div class="warning paragraph">
        ${name_msg=}
    </div>
    <input name="name" type="text"
           autocomplete="user"
           minlength=3 maxlength=24 />

    Парола:
    <div class="warning paragraph">
        ${pwd_msg=}
    </div>
    <input name="pwd" type="password"
           autocomplete="new-password"
           minlength=6 />

    Повтори паролата:
    <div class="warning paragraph">
        ${pwd2_msg=}
    </div>
    <input name="pwd2" type="password"
           autocomplete="new-password"
           minlength=6 />

    <div class="warning paragraph">
        ${error_msg=}
    </div>
    <div class="success paragraph">
        ${success_msg=}
    </div>
    <input type="submit" value="Регистрирай"
           class="btn" />
</form>
